.letter {
  text-align: center;
  font-size: 60px;
}

.letter:last-child {
  padding-bottom: 40px;
}

#lazy {
  display: flex;
  justify-content: center;
  height: 200px;
  text-align: center;
  font-size: 80px;
}

#face {
  position: relative;
  top: 20px;
  height: 100px;
  width: 120px;
}
